node_modules
.next
dump.rdb
server/dist
server/dist/consts.js
server/dist/consts.js.map
server/dist/types.js
server/dist/types.js.map
server/dist/entities/Post.js
server/dist/entities/Post.js.map
server/dist/entities/User.js
server/dist/entities/User.js.map
server/dist/middleware/isAuth.js
server/dist/middleware/isAuth.js.map
server/dist/resolvers/hello.js
server/dist/resolvers/hello.js.map
server/dist/utils/sendEmail.js
server/dist/utils/sendEmail.js.map
server/dist/utils/UsernamePasswordInput.js
server/dist/utils/UsernamePasswordInput.js.map
server/dist/utils/validRegistration.js
server/dist/utils/validRegistration.js.map
web/.next/react-loadable-manifest.json
web/.next/cache/webpack/client-development/1.pack
web/.next/cache/webpack/client-development/8.pack
web/.next/cache/webpack/client-development/13.pack
web/.next/cache/webpack/client-development-fallback/0.pack
web/.next/cache/webpack/client-development-fallback/index.pack
web/.next/cache/webpack/client-development-fallback/index.pack.old
web/.next/cache/webpack/server-development/2.pack
web/.next/cache/webpack/server-development/7.pack
web/.next/cache/webpack/server-development/14.pack
web/.next/server/_error.js
web/.next/server/middleware-manifest.json
web/.next/server/pages-manifest.json
web/.next/server/webpack-runtime.js
web/.next/server/pages/_app.js
web/.next/server/pages/_document.js
web/.next/server/pages/_error.js
web/.next/static/chunks/_error.js
web/.next/static/chunks/amp.js
web/.next/static/chunks/main.js
web/.next/static/chunks/polyfills.js
web/.next/static/chunks/react-refresh.js
web/.next/static/chunks/pages/_app.js
web/.next/static/chunks/pages/_error.js
web/.next/static/development/_middlewareManifest.js
web/.next/static/development/_ssgManifest.js
web/.next/static/webpack/7df88dfbdce73ac0.webpack.hot-update.json
web/.next/static/webpack/22a77926adbcc35b.webpack.hot-update.json
web/.next/static/webpack/webpack.7df88dfbdce73ac0.hot-update.js
